body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(247, 245, 245);
}
/* NAVBAR */
.Navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: orangered;
    margin-left: -100px;
    margin-right: -100px;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Navbar logo */
#navlogo{
    width: 200px;
    padding: 12px;
    padding-left: 40px;
}


#navtext>.navbtn{
    list-style-type: none;
    display: inline-block;
    font-family: Arial;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 20px;
}
#navtext>.navbtn:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
/* NAVBAR */


/* SLIDER */
.maindivcard{
    margin-top: 40px;
    margin-bottom: 60px;
}
/* SLIDER */

.cards:hover{
    cursor: pointer;
    background-color: rgb(243, 241, 241);
}

/* CARD */

.cards>div{
    padding-bottom: 8px;
}

.cardset1 {width: 140px; padding-top: 20px; padding-left: 40px; margin-bottom: -5px;}
.cardset2 {width: 150px; padding-top: 20px; padding-left: 27px; margin-bottom: -5px;}
.cardset3 {width: 140px; padding-top: 20px; padding-left: 33px; margin-bottom: -5px;}
.cardset4 {width: 150px; padding-top: 20px; padding-left: 20px; margin-bottom: -5px;}
.cardset5 {width: 160px; padding-top: 20px; padding-left: 20px; margin-bottom: -5px;}
.cardset6 {width: 140px; padding-top: 20px; padding-left: 20px; margin-bottom: -5px;}
.cardset7 {width: 170px; padding-top: 26px; padding-left: 12px; margin-bottom: -5px;}
.cardset8 {width: 150px; padding-top: 20px; padding-left: 33px; margin-bottom: -5px;}
.cardset9 {width: 150px; padding-top: 10px; padding-left: 30px; margin-bottom: -7px;}
.cardset10{width: 150px; padding-top: 15px; padding-left: 28px; margin-bottom: -5px;}
.cardset11{width: 160px; padding-top: 30px; padding-left: 32px; margin-bottom: -4px;}
.cardset12{width: 160px; padding-top: 34px; padding-left: 20px; margin-bottom: -5px;}


.cardtext1 {text-align: center; font-size: 18px; padding-top: 9px;}
.cardtext2 {text-align: center; padding-top: 10px; font-size: 18px;}
.cardtext3 {text-align: center; font-size: 18px;}
.cardtext4 {text-align: center; padding-top: 10px; font-size: 18px;}
.cardtext5 {text-align: center; padding-top: 10px; font-size: 18px;}
.cardtext6 {text-align: center; padding-top: 10px; font-size: 18px;}
.cardtext7 {text-align: center; padding-top: 12px; font-size: 18px;}
.cardtext8 {text-align: center; padding-top: 12px; font-size: 18px;}
.cardtext9 {text-align: center; font-size: 18px;}
.cardtext10{text-align: center; padding-top: 2px; font-size: 18px;}
.cardtext11{text-align: center; padding-top: 10px; font-size: 18px;}
.cardtext12{text-align: center; padding-top: 12px; font-size: 18px;}

/* CARD */


/* MiddleAdd */

.middleAdd{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* MiddleAdd */


/* BigCard */

.bigCardSet>img{height: 170px;}
.bigCardSet>div>p{font-size: 14px;}
.bigCardSet:hover{cursor: pointer; background-color: rgb(243, 241, 241);}

.bigCardSet0>img{width: 150px; height: 170px; margin-left: 30px;}
.bigCardSet0>div>p{font-size: 14px;}
.bigCardSet0:hover{cursor: pointer; background-color: rgb(243, 241, 241);}

.Cardrup{
    color: rgb(233, 7, 7);
}

/* BigCard */


/* Load Button */
#btndiv{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
#btnSet{
    width: 330px;
    height: 40px;
    color: rgb(5, 159, 5);
    box-shadow: 0px 0px 4px rgb(3, 167, 3);
}
#btnSet:hover{
    color: white;
    background-color: rgb(5, 180, 5);
    transition: all 0.4s ease-in-out;
}
/* Load Button */


/* footer */
#footer{
    background-color: rgb(236, 234, 234);
    margin-left: -100px;
    margin-right: -100px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 100px;
    padding-right: 100px;

}

#footerDiv1{
    display: flex;
    justify-content: space-between;
    
}

#footerDiv2{
    /* background-color: rgb(236, 234, 234); */
    text-align: center;
    padding-top: 30px;
}

/* #logo1{} */
#logo2{width: 30px; margin-left: 10px;}
#logo3{width: 30px; margin-left: 10px;}
#logo4{width: 30px; margin-left: 10px;}
#logo5{width: 30px; margin-left: 10px;}

#footerLastText{
    font-size: 28px;
}


/* footer */


/* // Screen Size 1400px check */
@media (max-width: 1660px){}

/* // Screen Size 1200px check */
@media (max-width: 1399px){
    body {
        margin-left: 80px;
        margin-right: 80px;
    }
    .Navbar {
        margin-left: -80px;
        margin-right: -80px;
    }
    #navtext>.navbtn {
        padding-left: 8px;
        padding-right: 18px;
        font-size: 15px;
    }
    #footer {
        margin-left: -80px;
        margin-right: -80px;
    }

}

/* // Screen Size 992px check */
@media (max-width: 1199px){
    body {
        margin-left: 70px;
        margin-right: 70px;
    }
    .Navbar {
        margin-left: -70px;
        margin-right: -70px;
    }
    #footer {
        margin-left: -70px;
        margin-right: -70px;
    }
    #navtext>.navbtn {
        padding-left: 6px;
        padding-right: 15px;
        font-size: 14px;
    }
    
}

/* // Screen Size 768px check */
@media (max-width: 991px){
    body {
        margin-left: 60px;
        margin-right: 60px;
    }
    .Navbar {
        margin-left: -60px;
        margin-right: -60px;
    }
    #footer {
        margin-left: -60px;
        margin-right: -60px;
    }
    #navtext>.navbtn {
        padding-left: 4px;
        padding-right: 10px;
        font-size: 13px;
    }
}

/* // Screen Size 576px check */
@media (max-width: 767px){
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
    .Navbar {
        flex-direction: column;
        margin-left: -50px;
        margin-right: -50px;
    }
    #navtext>.navbtn {
        padding-bottom: 10px;
    }
    #footer {
        margin-left: -50px;
        margin-right: -50px;
    }
}

/* // Screen Size All mobile check  */
@media(max-width: 575px){
    body {
        margin-left: 18px;
        margin-right: -58px;
    }
    .Navbar {
        flex-direction: column;
        margin-left: -18px;
        margin-right: -16px;
    }
    #navtext>.navbtn {
        padding-left: 6px;
        padding-right: 6px;
        font-size: 11px;
    }
    #footer {
        margin-left: -158px;
        margin-right: -17px;
    }
}

