body{
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgb(247, 245, 245);
}

/* Navbar logo */
#navlogo>img{
    width: 115px;
    padding-left: 40px;
}
/* Navbar logo */

/* Navbar search */
.navbar>input{
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 43px;
    padding-top: 7px;
    padding-bottom: 7px;
    width: 500px;
    border-radius: 10px;
}
#searchlogo{
    width: 20px;
    position: absolute;
    top: 35px;
    left: 362px;
}
/* Navbar search */

/* Navbar text */
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(5, 159, 5);
    margin-left: -100px;
    margin-right: -100px;
}
#navtext>.navbtn{
    list-style-type: none;
    display: inline-block;
    font-family: Arial;
    color: white;
    text-decoration: none;
    padding-right: 30px;
    padding-top: 15px;
}
#navtext>.navbtn:hover{
    color: black;
    text-decoration: underline;
    cursor: pointer;
}
/* Navbar text */

/* Cards */
.bigCardSet>img{
    width: 200px; height: 230px;
    padding-top: 10px;
    padding-left: 14px;
    padding-right: 0px;
}
.bigCardSet>div>p{font-size: 14px;}
.bigCardSet:hover{cursor: pointer; background-color: rgb(243, 241, 241);}

.Cardrup{color: rgb(206, 18, 18);}
/* Cards */

